* {
	margin: 0;
	padding: 0;
}
html {
	overflow: hidden;
}
#cursor {
	width: 200px;
	height: 80px;
	position: absolute;
	z-index: 3;
	pointer-events: none;
}
#cursor {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.075);
	background-color: rgba(255, 255, 255, 0.055);
	backdrop-filter: blur(8px) brightness(1.5);
}
@supports not (
	(backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px))
) {
	#cursor {
		background-color: rgb(182, 250, 45);
		box-shadow: inset 0 0 600px rgb(255, 255, 255, 0.5);
	}
}
#loading {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	font-size: 40px;
	color: rgb(182, 250, 45);
	background-color: white;
	position: absolute;
	z-index: 4;
}
body {
	width: 100vw;
	height: 100vh;
	font-family: sans-serif;
	position: relative;
	padding-left: 16px;
	cursor: none;
}
h1 {
	width: 25%;
	padding: 12px 0;
	font-size: 12px;
	font-weight: 100;
	color: rgb(89, 103, 117);
	mix-blend-mode: difference;
	position: absolute;
	z-index: 2;
}
.item {
	width: 400px;
	height: 100vh;
	position: absolute;
	right: 0;
}
#orange {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: rgba(186, 197, 90, 0.493);
	box-shadow: 0px 0px 80px 100px rgba(186, 197, 90, 0.493);
	position: absolute;
	right: 0%;
	bottom: 0%;
}
.hero-title {
	font-family: serif;
	font-size: 60px;
	font-weight: 900;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-style: oblique;
	writing-mode: vertical-lr;
	text-orientation: sideways-right;
	background-color: rgba(160, 183, 207, 0.452);
	color: transparent;
	text-shadow: 1px 1px 3px rgb(255, 255, 255);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	position: absolute;
	bottom: 15%;
	left: 0;
	z-index: -1;
}
marquee {
	color: rgb(182, 250, 45);
	text-transform: uppercase;
	position: absolute;
	bottom: 5%;
}
#three {
	pointer-events: none;
	position: absolute;
}
