@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&display=swap');

* {
	font-family: sans-serif;
	color: hsl(222, 37%, 25%);
}

p {
	font-size: 12px;
}

h1 {
	font-family: 'DM Serif Text', serif;
	width: 400px;
	margin: 5px;
	color: hsl(222, 37%, 25%);
}

div#underline {
	width: 150px;
	height: 8px;
	margin-left: 5px;
	margin-top: -20px;
	background-image: linear-gradient(to left, rgba(196, 254, 103, 0.5), hsl(222, 100%, 85%));
}

svg {
	margin-top: 40px;
}

body {
	margin: 10px;
	overflow: hidden;
}

.line-path {
	fill: none;
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-linecap: round;
	mix-blend-mode: multiply;
}

text {
	font-family: sans-serif;
	font-size: 10px;
	color: hsl(222, 37%, 25%);
}

.tick line {
	stroke: hsl(226, 32%, 92%);
}

.axis-label {
	fill: hsl(222, 37%, 25%);
}

.title {
	font-size: 14px;
	fill: hsl(222, 37%, 25%);
}
